.slider-section {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-image: url('./../../../public/images/bg-1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.slider-description {
  max-width: 500px;
  max-height:500px;
  background: #aaa;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.slider-heading, .slider-content{
  color: #000;
  margin: 10px 0;
}

.slider-description h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

.slider-description p {
  font-size: 1.1rem;
}

.slider-cta {
  width: 8rem;
  background: #000;
  padding: 12px;
  color: #fff;
  border-radius: 30px;
  margin: 20px 0 0;
  text-align: center;
  border: none;
}